
<!--Copia desde aquí-->
<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	<tr>
		<td style="background-color: #ecf0f1; text-align: left; padding: 0">
			<a href="">
				<img width="20%" style="display:block; margin: 1.5% 3%" src="https://media.istockphoto.com/photos/sun-on-blue-sky-with-clouds-picture-id824800468">
			</a>
		</td>
	</tr>

	<tr>
		<td style="padding: 0">
			<img style="padding: 0; display: block" src="https://s19.postimg.org/y5abc5ryr/alola_region.jpg" width="100%">
		</td>
	</tr>
	
	<tr>
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #e67e22; margin: 0 0 7px">Hola{{email}}!</h2>
				<p style="margin: 2px; font-size: 15px">Bienvenido a DrugsOnline, este es tu codigo de Verificacion para que no te pierdas de nada! </p>
        <p>{{code}}</p>
				<div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">
					<img style="padding: 0; width: 200px; margin: 5px" src="https://media.istockphoto.com/vectors/flat-style-banner-with-medical-drugs-tablets-and-pills-vector-id1270596985">
					<img style="padding: 0; width: 200px; margin: 5px" src="https://media.istockphoto.com/vectors/flat-style-banner-with-medical-drugs-tablets-and-pills-vector-id1270596985">
				</div>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">DrugsOnline 2021</p>
			</div>
		</td>
	</tr>
</table>
<!--hasta aquí-->